:root{
    --primary: #FFC531;
    --primary-light: #FFD058;
    --primary-dark: #E4AD21;
    
    --white: #fff;
    --gray-100: #CFD1D2;
    --gray-300: #888C90;
    --gray-500: #40464D;
    --black: #101820;
}
